<form class="video-form fade-me-in fade-me-out" action="/videos/add/{{ cat_name }}" method="post">
    <input type="text" name="id" placeholder="Youtube Id" class="form-control" required>
    <input type="text" name="title" placeholder="Video Title" class="form-control" required>
    <input type="text" name="author" placeholder="Video author" class="form-control" required>
    <input type="number" name="view_count" placeholder="View Count" class="form-control" required>
    <button class="btn btn-danger" type="submit">Create</button>
</form>